.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   background-color:darkcyan;
   border-width: 10px;
   border-color:deeppink;
   border-style:double;
}

